<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
	  <add key="redirect_url" value="http://localhost:57912/ThankYou.aspx"/>
	  <add key="cancel_url" value="http://localhost:57912/ThankYou.aspx"/>
	  <add key="workingkey" value="4FCA3E5366EF382567C007D8C70E50EB"/>
	  <add key="AccessCode" value="AVZW64DD73AH06WZHA"/>
	  <add key="merchantid" value="79627"/>
    <add key="SiteUrl" value="http://urbanbanya.com/"/>
    <add key="AdminEmail" value="accounts@urbanbanya.com"/>
    <add key="AccountMail" value="smtpserver=relay-hosting.secureserver.net;Port=25;Authenticate=1;UserName=accounts@urbanbanya.com;ePassword=123456;UseSSL=false;EmailFrom=accounts@urbanbanya.com;"/>
    <add key="InfoMail" value="smtpserver=relay-hosting.secureserver.net;Port=25;Authenticate=1;UserName=info@urbanbanya.com;ePassword=123456;UseSSL=false;EmailFrom=info@urbanbanya.com;"/>
     <add key="SalesMail" value="smtpserver=relay-hosting.secureserver.net;Port=25;Authenticate=1;UserName=sales@urbanbanya.com;ePassword=123456;UseSSL=false;EmailFrom=sales@urbanbanya.com;"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <remove name="mySQLconn"/>
    <!--<add name="mySQLconn" connectionString="Data Source=localhost;Database=urbanbanya;User ID=root; Password=''" providerName="MySql.Data.MySqlClient"/>-->
        <add name="mySQLconn" connectionString="Server=198.71.225.64; Port=3306; Database=testbanya;User Id=testbanya; Pooling=True; Password=testbanya1234; Persist Security Info=True" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
     <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="DocumentFormat.OpenXml, Version=2.5.5631.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>    
    <customErrors mode="Off"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy>
    <trust level="Full"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
 
  <system.webServer>
    <handlers>
      <remove name="ScriptHandlerFactory"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
</configuration>